#Local environment
#DB_URL=
#DB_USERNAME=
#DB_PASSWORD=
#JWT_SECRET=

#docker environment
DB_URL: jdbc:mysql://db:3306/mesa_ayuda?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=trueDB_USERNAME=root
DB_PASSWORD=root
JWT_SECRET=mT7wR9eK2pL5nQ8xJ4hB6vY1cA3sF0gD7uI2oP5kJ9mN4bV8xC1zW6qE3rT0yH